<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
  <div class="container-fluid">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item mx-auto">
        <a class="nav-link" href="{{ path('home') }}">Contact
        </a>
      </li>
      <li class="nav-item mx-auto">
        <a class="nav-link" href="{{ path('notice') }}">Mentions Légales</a>
      </li>
      <li class="nav-item mx-auto">
        <a class="nav-link" href="{{ path('policy') }}">Politique de confidentialité</a>
      </li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
  <div class="container-fluid">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item mx-auto px-1">
        Site fictif réalisé pour un projet d'étude.
      </li>
      <li class="nav-item mx-auto">
        Developed by Atsuyko.
      </li>
    </ul>
  </div>
</nav>