{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Fictif 2024 - Administration{% endblock page_title %}

{% block content %}
<div class="container">
  <h1 class="mt-3">Bienvenue sur le système d'administration des JO Fictif 2024 !</h1>
  <p>Vous êtes administrateur du site. Vous pouvez accédez à toute les sections du système d'administration.</p>
  <div>
    <a href="{{ path('home') }}" class="btn mt-3">Retour à l'accueil du site</a>
  </div>
</div>
{% endblock content %}