{% extends 'base.html.twig' %}

{% block title %}Fictif 2024 - Mentions légales{% endblock %}

{% block body %}
<section id="notice">
    <div class="container text-white">
        <h1 class="pt-5 text-center img-txt">Mentions Légales</h1>
    </div>
</section>
<section>
    <div class="container mt-3 text-center">
        <h3>En vigueur au 01/10/2024</h3>
        <p class="mt-3">
            Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la
            confiance
            dans
            l’économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs, ci-après
            l""Utilisateur", du site Fictif 2024, ci-après le "Site", les présentes mentions légales. <br>
            La connexion et la navigation sur le Site par l’Utilisateur implique acceptation intégrale et sans réserve
            des
            présentes
            mentions légales. <br>
            Ces dernières sont accessibles sur le Site à la rubrique « Mentions légales ».
        </p>
        <h3>ARTICLE 1 - L'EDITEUR</h3>
        <p class="mt-3">
            L’édition et la direction de la publication du Site est assurée par Julien Fictif, domiciliée 1 rue du
            fictif
            75000 Paris, dont l'adresse e-mail est <a href="mailto:fictif2024@example.com">fictif2024@example.com</a>,
            ci-après l'"Editeur".
        </p>
        <h3>ARTICLE 2 - L'HEBERGEUR</h3>
        <p class="mt-3">
            L'hébergeur du Site est la société Heroku, dont le siège social est situé au 415 Mission Street Suite 300
            San
            Francisco, CA 94105 , avec l'adresse email : <a
                href="mailto:heroku-abuse@salesforce.com">heroku-abuse@salesforce.com</a>.
        </p>
        <h3>ARTICLE 3 - ACCES AU SITE</h3>
        <p class="mt-3">
            Le Site est accessible en tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou
            non
            et
            pouvant découlant d’une nécessité de maintenance. En cas de modification, interruption ou suspension du
            Site,
            l'Editeur
            ne saurait être tenu responsable.
        </p>
        <h3>ARTICLE 4 - COLLECTE DES DONNEES</h3>
        <p class="mt-3">
            Le Site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de
            la
            vie
            privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux
            libertés.
            En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit
            d'accès, de
            rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit :
        </p>
        <p>
            par mail à l'adresse email <a href="mailto:fictif2024@example.com">fictif2024@example.com</a><br>
            par téléphone au <a href="tel:0412345678">0412345678</a><br>
            via un formulaire de contact ;
        </p>
        <p class="mt-3">
            Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du Site, sans
            autorisation de l’Editeur est prohibée et pourra entraînée des actions et poursuites judiciaires telles que
            notamment
            prévues par le Code de la propriété intellectuelle et le Code civil.
        </p>
    </div>
</section>
{% endblock %}